@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}
@theme{
    --color-primary-orange:#ff6900;
    --color-secondary-blue:#061a32
} */